body.modal-open {
    overflow: hidden;
    height: 100%;
}

.modal-sm {
    @media(min-width: @screen-sm) {
        width: 350px;
    }
}

.modal-close {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    position: absolute;
    right: -50px;
    top: 0;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;

    &:hover {
        background: fade(@red-600, 80%);
    }
}
.modal-close i {
    line-height: 30px;
}


// Modal login

#modal-login {
    .section {
        height: 530px;
        width: 50%;
        float: left;

        &:first-child {
            background: #f5f5f5;
            border-right: 1px solid @grey-300;
            vertical-align: bottom;
            border-radius: 2px 0 0 2px;
            padding: @grid-gutter-width+5;

            li + li {
                margin-top: 5px;
            }
        }
    }

    .page,
    .theatre,
    .stage,
    .cell {
        height: 100%;
        position: relative;
    }

    .theatre {
        overflow: hidden;
    }

    .stage {
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: 100%;
        .transition-default();
        padding: @grid-gutter-width+5;
    }

    .show-stage-1 .stage-1,
    .show-stage-2 .stage-2,
    .show-stage-3 .stage-3 {
        left: 0;
    }

    .show-stage-2 .stage-1,
    .show-stage-3 .stage-1,
    .show-stage-3 .stage-2 {
        left: -100%;
    }
}


// Modal search

#modal-search {
    .opacity(0);
    .transform(scale(.75));
    .transition-default();

    &.in {
        .transform(scale(1));
        .opacity(1);
    }

    .modal-dialog,
    .modal-content {
        position: absolute;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        border: 0;
        border-radius: 0;
        .box-shadow(~'none !important');
        width: auto;
    }

    .close {
        cursor: pointer;
        line-height: 20px;

        i, b {
            display: inline-block;
            vertical-align: middle;
        }

        i {
            font-size: 20px;
            position: relative;
            // top: 1px;
        }
    }
}