body {
  background: #fafafa;
}

.header {
  background-color: #04C169;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  background-image: url("../img/hero_banner.png");

  h1, h2 {
    color: #fff;
  }

  h5 {
    color: #175F3C;
  }
}

.tab-list-wrapper {
  height: 31px;
  overflow: hidden;
  border-bottom: 1px solid @grey-300;
  position: relative;

  @media (max-width: @screen-xs) {
    margin-left: -@grid-gutter-width / 2;
    margin-right: -@grid-gutter-width / 2;

    .tab-list {
      height: 36px;
      overflow: hidden;
      overflow-x: scroll;
      vertical-align: top;

      > li {
        float: none;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 15px !important;

        &:last-child {
          padding-right: 200px;
        }
      }
    }
  }
}

.tab-list {
  white-space: nowrap;

  > li {
    float: left;

    + li {
      margin-left: 20px;
    }

    > a {
      display: block;
      line-height: 20px;
      padding: 0 0 10px;
      color: @grey-800;
      position: relative;
      text-decoration: none !important;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 5px;
      }
    }

    &.active {
      > a {
        color: #14C667;

        &:after {
          background: #14C667;
        }
      }
    }
  }

  @media (max-width: @screen-xs) {

  }
}

.finder {
  .form {
    width: 50%;
  }

  @media (max-width: @screen-xs) {
    .col-cell {
      display: block;
      width: 100%;
    }
  }
}

.column {
  @media (max-width: @screen-xs) {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    + .column {
      border-top: 1px solid @grey-200;
    }
  }
}

.card {
  @media (max-width: @screen-xs) {
    display: table;
    width: 100%;

    .cover {
      display: table-cell;
      padding-bottom: 100%;
      width: 64px;
      padding-bottom: 64px !important;
    }

    .detail {
      display: table-cell;
      text-align: left;
      padding-left: 15px;
      vertical-align: middle;
    }
  }
}

.footer {
  background: #222228;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;

  a {
    color: inherit;

    &:hover {
      color: #fff;
    }
  }

  hr {
    border-color: rgba(255, 255, 255, 0.05);
  }

  .social {
    font-size: 16px;

    a {
      display: inline-block;
      vertical-align: top;
      line-height: 30px;
      width: 30px;
      text-align: center;
    }

    .google {
      font-size: 24px;
    }

    @media (max-width: @screen-xs) {
      text-align: center;
      margin-top: @grid-gutter-width;

      a {
        float: left;
        width: 33.333%;
        font-size: 22px;
      }

      .google {
        font-size: 30px;
      }
    }
  }
}

.footer-logo {
  background-image: url('../img/spoken.svg');
  background-position: 0 center;
  display: block;
  width: 64px;
  padding-bottom: 100%;
}

.player {
  position: fixed;
  left: 0;
  bottom: -2px;
  line-height: 0;
  right: 0;
  z-index: 999;
}

.copyright {
  @media (max-width: @screen-xs) {
    text-align: center;

    .text-right {
      text-align: inherit;
      margin-top: 20px;

      a {
        display: block;
        color: inherit;

        + a {
          margin-top: 10px;
        }
      }
    }
  }
}