// NAVBAR --------------------------------------------------//

.navbar {
	border: 0;
	border-radius: 0;
	margin: 0;
}
.navbar-toggle {
	background: none !important;
	padding: 0 15px;
	border: 0;
	border-radius: 0;
	line-height: @navbar-height;
	font-size: 20px;
	margin: 0;
	float: left;
}


// TOOLBAR --------------------------------------------------//



.toolbar {
	z-index: @toolbar-z-index; 
	.box-shadow(0 1px 0 rgba(0, 0, 0, 0.15));

	.navbar-brand {
		background-image: url('../img/header-logo.svg');
		color: transparent !important;

		background-position: 0 center;
		letter-spacing: .5px;
		font-weight: 500;
		font-size: 20px;
		overflow: hidden;
		width: 150px;
		margin-right: 10px;

		@media(max-width: @screen-sm) {
			background-position: 0 center;
			margin-right: 0;
			position: absolute;
			width: auto;
			left: 35%; 
			right: 35%;
			top: 0;
		}
	}

	.navbar-toggle {
		color: @grey-500;
	}

	.navbar-nav {
		> li {
			> a {
				font-weight: 400;
				background: none !important;
				text-transform: uppercase;

				> b {
					font-weight: 400;
					.opacity(.5);
				}

				> i {
					font-size: 20px; 
					width: 20px; 
					text-align: center;
					position: relative;
					top: -1px;
					.opacity(.7);
				}
			}

			&.has-divider {
				margin-left: 20px;
				padding-left: 20px;

				&:before {
					background: @navbar-default-color;
					content: '';
					display: block;
					position: absolute;
					left: -.5px;
					top: 50%;
					width: 1px;
					height: 14px;
					margin-top: -8px;
					.opacity(.5);
				}
			}
		}
	}

	.navbar-user,
	.navbar-cart {
		> a {
			padding: 0;
			margin-right: 0;
			line-height: @navbar-height;
		}
	}

	.navbar-cart {
		> a { 
			> i {
				display: inline-block;
				line-height: inherit;
				vertical-align: top;
				margin-right: 0 !important;
				top: 0 !important;
			}

			> em {
				display: inline-block;
				vertical-align: top;
				min-width: 24px;
				height: 24px;
				line-height: 24px;
				margin-top: (@navbar-height - 24px) / 2;
				border-radius: 100%;

				background: @green-500;
				color: #fff;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				padding: 0 5px;
				text-align: center;
			}
		}
	}

	@navbar-user-avatar: 36px;

	.navbar-user {
		> a {
			img {
				display: inline-block;
				vertical-align: top;
				width: @navbar-user-avatar;
				height: @navbar-user-avatar;
				margin-top: (@navbar-height - @navbar-user-avatar) / 2;
				border-radius: 100%;
			}
		}

		>.dropdown-menu {
			margin-top: 5px;
			border: 1px solid @grey-200;
		}

		.btn {
			text-transform: uppercase;
			font-weight: normal;
			border-radius: 100px;
			border-color: transparent;
			.box-shadow(~'none !important');

			&:hover {
			}
		}

		// .navbar-form {
		// 	margin: 10px 0;
		// 	.btn {
		// 		height: @navbar-height - 20;
		// 		line-height: @navbar-height - 20;
		// 	}
		// }
	}

	@media(max-width: @screen-sm) {
		padding: 0;
		position: fixed;
		left: 0;
		top: 0; 
		width: 100%;

		.navbar-collapse {
			display: none !important;
		}

		.navbar-header {
			.navbar-nav {
				margin: 0;

				> li {
					float: left;

					> a {
						line-height: @navbar-height;
						color: @grey-800 !important;

						> i {
							line-height: @navbar-height;
							vertical-align: top;
							color: rgba(255, 255, 255, 0.65);
							.opacity(1);
						}

						&.navbar-toggle-search {
							padding: 0 15px;
						}
					}
				}
			}
		}
	}
}