.btn {
	text-shadow: none;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		left: -12px;
		top: -3px;
		width: 35%;
		height: 100%;
		background-color: #fff;
		z-index: 0;
		transform: rotate(-33deg) scaleY(1);
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		.opacity(0);
	}

	&:hover:before {
		.opacity(.1);
		width: 100%;
		left: 0;
		transform: rotate(0) scaleY(7);
	}
	
	&:hover {
		.box-shadow(0 1px .5px rgba(0,0,0,.3));
	}
}

.btn-link {
	&:hover {
		.box-shadow(none);
	}
}

.btn-docked {
	border-radius: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	line-height: @navbar-height;
	z-index: 10;
}

.btn-facebook {
	.button-variant(@btn-facebook-color; @btn-facebook-bg; @btn-facebook-border);
}
.btn-twitter {
	.button-variant(@btn-twitter-color; @btn-twitter-bg; @btn-twitter-border);
}
.btn-google {
	.button-variant(@btn-google-color; @btn-google-bg; @btn-google-border);
}