.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 4px;
	border-radius: @border-radius-base;
	.opacity(1);
	visibility: visible;
	display: none;
	border: 1px solid @grey-300;
	.transition(none);
	.transform(scale(1));

	&:before {
		content: '';
		display: inline-block;
		border-left:   7px solid transparent;
		border-right:  7px solid transparent;
		border-bottom: 7px solid @grey-300;
		border-bottom-color: rgba(0,0,0,.2);
		position: absolute;
		top: -7px;
		left: @padding-base-horizontal;
	}
	&:after {
		content: '';
		display: inline-block;
		border-left:   6px solid transparent;
		border-right:  6px solid transparent;
		border-bottom: 6px solid #fff;
		position: absolute;
		top: -6px;
		left: @padding-base-horizontal + 1;
	}
	>div {
		display: none;
	}
	table{
		width: 100%;
		margin: 0;
	}
	td,
	th{
		text-align: center;
		width: 34px;
		height: 34px;
		line-height: 34px;
		padding: 0 !important;
		position: relative;
		z-index: 1;
		cursor: pointer;
	}
	td {
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 3px;
			right: 3px;
			top: 3px;
			bottom: 3px;
			border-radius: 100%;
			z-index: -1;
			.transition-default();
			.transform(scale(0));
			cursor: pointer;
		}

		&.day:hover:before {
			background: @yellow-200;
			cursor: pointer;
			.transform(scale(.9));
		}
		&.day.disabled {
			color: @grey-300;
		}
		&.old,
		&.new {
			color: @grey-500;
		}
		&.active,
		&.active:hover {
			color: #fff;
		}
		&.active:before,
		&.active:before:hover {
			background: @blue-500 !important;
			.transform(scale(1)) !important;
		}
		span {
			display: block;
			width: 47px;
			height: 54px;
			line-height: 54px;
			float: left;
			margin: 2px;
			cursor: pointer;
			.border-radius(4px);

			&:hover {
				background: @yellow-900;
			}
			&.active {
				background: @blue-500;
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,.25);
			}
			&.old {
				color: @red-500;
			}
		}
	}
	
	th {
		&.switch {
			width: 145px;
		}
		&.next,
		&.prev {
			font-size: @font-size-base;
		}
	}
	
	thead tr:first-child th {
		cursor: pointer;
		border-radius: 3px;

		&:hover{
			background: @yellow-200;
		}
	}
}