// CONTAINER --------------------------------------------------//

.container {
    @media(max-width: 1200px) { 
        width: 100%;
        max-width: 100%; 
        padding-left: @grid-gutter-width;
        padding-right: @grid-gutter-width;
    }

    @media(max-width: @screen-sm) { 
        width: 100%;
        max-width: 100%; 
        padding-left: @grid-gutter-width / 2;
        padding-right: @grid-gutter-width / 2;
    }
}



// RESET LIST --------------------------------------------------//

.reset-list,
.reset-list > li {
    list-style: none;
    padding: 0;
    margin: 0;
}


// DISPLAY TABLE & CELL --------------------------------------------------//

.row-table {
    display: table;
    width: 100%;
}

.col-cell {
    display: table-cell;
    vertical-align: middle; 
    position: relative;
    float: none;
}

.table-row {
    display: table-row;
}

.cell-tight {
    width: 1%;
    white-space: nowrap;
}

.cells-top > .col-cell {
    vertical-align: top;
}

.cells-bottom > .col-cell {
    vertical-align: bottom;
}


// Texts
.text-serif {
    font-family: @font-family-serif;
}
.text-300 { 
    font-weight: 300; 
}
.text-400 { 
    font-weight: 400; 
}
.text-500 { 
    font-weight: 500; 
}
.text-600 { 
    font-weight: 600; 
}
.text-700 { 
    font-weight: 700; 
}
.text-sm {
    font-size: 12px;
}
.text-xs {
    font-size: 11px;
}
.text-inherit {
    color: inherit !important;
}
.text-muted {
    color: @grey-500; 
}
.text-justify {
    text-align: justify;
}
.text-line-through {
    text-decoration: line-through;
}
.text-ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-code {
    font-family: 'Consolas';
    letter-spacing: .5px;
}


// Background-cover

.cover,
.cover-contain {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.cover {
    background-size: cover;
   
}
.cover-contain {
    background-size: contain;
}


// Radius

.radius-2 { border-radius: 2px; }
.radius-3 { border-radius: 3px; }
.radius-4 { border-radius: 4px; }
.radius-5 { border-radius: 5px; }


// MISC --------------------------------------------------//

.no-overflow {
    overflow: hidden;
}
.no-wrap {
    white-space: nowrap;
}
.no-border {
    border: 0;
}