// DROPDOWN MENU 

.dropdown-menu {
	.box-shadow(0 1px 3px rgba(0,0,0,.2));
	border-radius: 2px !important;
	border: 0;
	margin-top: 10px;
	padding: 10px 0;
	display: block;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	.opacity(0);
	visibility: hidden;
	

	-webkit-transition: all 250ms cubic-bezier(.24,.22,.015,1.56);
	transition: all 250ms cubic-bezier(.24,.22,.015,1.56);

	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;

	&.fly-from-right {
		-webkit-transform-origin: top right;
		-moz-transform-origin: top right;
		-ms-transform-origin: top right;
		transform-origin: top right;
	}

	> li > a {
		font-size: 13px;
		font-weight: 500;
	}
}

.open > .dropdown-menu {
	.opacity(1);
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

@media(min-width: @screen-sm) {
	.dropdown-hover:hover > .dropdown-menu {
		.opacity(1);
		visibility: visible;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}
}