.form-control {
	.transition(ease .5s);
	
	&:hover {
		border-color: darken(@border-color, 15%);
	}

	&:focus {
		border-color: lighten(@brand-primary, 5%);
		.box-shadow(0 0 1px lighten(@brand-primary, 10%));
	}
}
.form-control-select,
.form-control-icon {
	background-color: @input-bg;
	border: 1px solid @input-border;
	border-radius: @input-border-radius;
	position: relative;

	> .form-control {
		border: 0;
		background: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: relative;
		z-index: 2;
		padding-right: @padding-base-horizontal*3;
	}
}
.form-control-select {
	&:after {
		content: '\f2f9';
		color: darken(@input-border, 20%);
		display: block;

		position: absolute;
		top: 50%;
		right: @padding-base-horizontal;
		z-index: 1;

		font: 22px/26px 'Material-Design-Iconic-Font';
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-top: -13px;
	}

	.input-sm {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.form-control-icon {
	i {
		position: absolute;
		right: @padding-base-horizontal;
		line-height: @input-height-base;
		font-size: 16px;
		top: 50%;
		margin-top: -@input-height-base/2;

		&:first-child {
		}

		&.pull-left + .form-control {
			padding-left: @padding-base-horizontal*3;
			padding-right: @padding-base-horizontal;
		}

		&.pull-right + .form-control {
			padding-left: @padding-base-horizontal;
			padding-right: @padding-base-horizontal*3;
		}
	}
}