@sidebar-width: 300px;



html, body {
    position: relative;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .box-sizing (border-box);
}

*, *:before, *:after{
    .box-sizing (border-box);
}

a:focus{
    outline: none;
}

a:hover{
    text-decoration: underline;
}

hr {
    margin: @grid-gutter-width 0;
    border-color: @grey-300; 
}

b, strong, th, label {
    font-weight: 500;
}

.master {
    position: relative;
}

.master,
.toolbar {
    left: 0;
}

.master,
.toolbar,
.sidebar {
    .transition-default();
}

.sidebar {
    position: fixed;
    top: 0;
    left: -@sidebar-width;
    width: @sidebar-width;
    height: 100%;
    background: @blue-grey-900;
    overflow-y: scroll;

    background: #1f252c;
    background: linear-gradient(rgba(40,47,55,0.95), rgba(40,47,55,0.95)),url(../img/footer-bg.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(40,47,55,0.95), rgba(40,47,55,0.95)),url(../img/footer-bg.jpg) no-repeat;
    background: -webkit-linear-gradient(rgba(40,47,55,0.95), rgba(40,47,55,0.95)),url(../img/footer-bg.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}

@media(max-width: @screen-sm) {
    html, body {
        overflow-x: hidden;
    }
    body {
        padding-top: @navbar-height;
    }

    // html.show-sidebar,
    html.show-sidebar body {
        overflow: hidden;
    }

    html.show-sidebar {
        .master, 
        .toolbar {
            left: @sidebar-width;
        }

        .sidebar {
            left: 0;
        }
    }
}