// SPACING --------------------------------------------------//

.ma-0  { margin: 0; }
.pa-0  { padding: 0; }

.ma-0  { margin: 0; }
.ma-5  { margin: 5px; }
.ma-10 { margin: 10px; }
.ma-15 { margin: 15px; }
.ma-20 { margin: 20px; }
.ma-30 { margin: 30px; }
.ma-gutter { margin: @grid-gutter-width; }
.pa-0  { padding: 0; }
.pa-5  { padding: 5px; }
.pa-10 { padding: 10px; }
.pa-15 { padding: 15px; }
.pa-20 { padding: 20px; }
.pa-30 { padding: 30px; }
.pa-gutter { padding: @grid-gutter-width; }

.mt-0  { margin-top: 0; }
.mt-5  { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-gutter { margin-top: @grid-gutter-width; }
.pt-0  { padding-top: 0; }
.pt-5  { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-30 { padding-top: 30px; }
.pt-gutter { padding-top: @grid-gutter-width; }

.mr-0  { margin-right: 0; }
.mr-5  { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }
.mr-gutter { margin-right: @grid-gutter-width; }
.mr-pull-gutter { margin-right: -@grid-gutter-width; }
.pr-0  { padding-right: 0; }
.pr-5  { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-30 { padding-right: 30px; }
.pr-gutter { padding-right: @grid-gutter-width; }

.mb-0  { margin-bottom: 0; }
.mb-5  { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-gutter { margin-bottom: @grid-gutter-width; }
.pb-0  { padding-bottom: 0; }
.pb-5  { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-gutter { padding-bottom: @grid-gutter-width; }

.ml-0  { margin-left: 0; }
.ml-5  { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-gutter { margin-left: @grid-gutter-width; }
.ml-pull-gutter { margin-left: -@grid-gutter-width; }
.pl-0  { padding-left: 0; }
.pl-5  { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pl-gutter { padding-left: @grid-gutter-width; }


// GRIDS --------------------------------------------------//

@grid-gutter-width-sm : 4px;
@media(min-width: @screen-sm) {
	.row-lg {
		margin-left: -@grid-gutter-width;
		margin-right: -@grid-gutter-width;

		> .column {
			padding-left: @grid-gutter-width;
			padding-right: @grid-gutter-width;
		}
	}
}

.row {
	display: block;
}

.row-sm {
	margin-left: -@grid-gutter-width-sm;
	margin-right: -@grid-gutter-width-sm;

	> .column {
		padding-left: @grid-gutter-width-sm;
		padding-right: @grid-gutter-width-sm;
	}
}

.row-null {
	margin-left: 0;
	margin-right: 0;

	> .column {
		padding-left: 0;
		padding-right: 0;
	}
}

.row-divided {
	overflow: hidden;

	> .column {
		position: relative;

		+ .column {
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -.5px;
				top: -1000px;
				bottom: -1000px;
				width: 1px;
				background: @grey-300;
			}
		}
	}
}