// BRANDS

@brand-success:           #14C667;

@border-color:            @grey-400;
 

// TEXTS

@font-family-sans-serif:  'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:       'PT Serif', Georgia, serif;
@font-size-base:          13px; 
@font-size-small:         12px;
@font-size-large:         @font-size-base + 2;
@line-height-base:        1.5; // 20/14 
@text-color:			  @grey-700;
@link-color:              @blue-600;
@link-color:              @indigo-500;
// @icon-font-path:          "../bootstrap/fonts/";
@headings-color:		  @grey-900;


// Grid Size

@grid-gutter-width:       30px;


// Input

@input-border:              @grey-400;
@input-border-focus:        @grey-500;
@input-color-placeholder:   @grey-500;


// Dropdown

@dropdown-border:           @input-border; 
@dropdown-link-hover-color: @text-color;
@dropdown-link-hover-bg:    @blue-grey-50;


// NAVBAR
@navbar-height:                    60px;
@navbar-default-color:             #777;
@navbar-default-bg:                #fff;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links

@navbar-default-link-color:                #777;
@navbar-default-link-hover-color:          #333;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #555;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label

@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle

@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;



// Padding

@padding-base-vertical:     7px; 
@padding-base-horizontal:   10px;

 
// Buttons

@btn-default-color: @grey-700;
@btn-default-bg: #fff;
@btn-default-border: @input-border;

@btn-primary-color: #fff;
@btn-primary-bg: @blue-500;
@btn-primary-border: darken(@blue-500, 5%);

@btn-success-color: #fff;
@btn-success-bg: #14C667;
@btn-success-border: #14C667;

@btn-info-color: #fff;
@btn-info-bg: #00C7FF;
@btn-info-border: #00C7FF;

@btn-facebook-color: #fff;
@btn-facebook-bg: @indigo-500;
@btn-facebook-border: @indigo-500;

@btn-twitter-color: #fff;
@btn-twitter-bg: @light-blue-500;
@btn-twitter-border: @light-blue-500;

@btn-google-color: #fff;
@btn-google-bg: @deep-orange-600;
@btn-google-border: @deep-orange-600;


// Radius

@border-radius-base:        3px;
@border-radius-large:       3px;
@border-radius-small:       2px;
@input-border-radius:       2px;



// Tables

@table-border-color:        @grey-300;
@table-bg-accent:           @grey-100;
@table-bg-hover:            @yellow-100;


// Z-indexes

@toolbar-z-index: 10;
@subtoolbar-z-index: 9;
@z-index-selectordie: 8;
